/* Reset de margin e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo do site */
body {
  background-color: #222 !important; /* Fundo totalmente preto */ 
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wrapper geral do login */
.loginWrapper {
  background-color: #222;; /* Fundo totalmente preto */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* Caixa de login */
.loginBox {
  background-color: #222;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 100vh !important;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 380px;
  text-align: center;
}

/* Cabeçalho */
.loginHeader {
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
}

.loginSubHeader {
  color: #b1b1b1;
  margin-bottom: 30px;
  font-size: 14px;
}

/* Estilo dos campos de input */
.loginInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 14px;
}

.loginInput:focus {
  outline: none;
  border-color: #3b82f6;
}

/* Estilo do botão de login */
.loginButton {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #3b82f6, #0ea5e9);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.loginButton:hover {
  background-color: #0284c7;
  transform: scale(1.05);
}

/* Seção de suporte */
.supportSection {
  margin-top: 20px;
}

.supportText {
  color: #bbb;
  font-size: 12px;
}

.supportIcons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.iconButton {
  background-color: transparent;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 50%;
  color: #bbb;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.iconButton:hover {
  color: #fff;
  background-color: #333;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
  .loginBox {
    padding: 25px;
    width: 90%;
  }

  .loginHeader {
    font-size: 22px;
  }

  .loginSubHeader {
    font-size: 12px;
  }

  .loginButton {
    padding: 12px;
    font-size: 14px;
  }

  .supportText {
    font-size: 10px;
  }

  .iconButton {
    font-size: 18px;
  }
}
